h2 {
  background-color: rgba(0,127,255,0.5);
  box-shadow: 2px 2px 10px #666;
  padding: 0.25em;
  text-align: center;
}

body{

	background:url(banner.jpg) no-repeat;
	background-size: 200%;

}

.div-1 {
 

    }
  
  
.div-2{

	background-color: #EBEBEB;
	position: relative;
  	top: 20%;

     }